@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');

:root {
  --darkblue: #0d1b2a;
  --middarkblue: #1b263b;
  --midblue: #415a77;
  --lightblue: #778da9;
  --creamywhite: #e0e1dd;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--darkblue);
  color: var(--creamywhite);
  list-style: none;
}

body {
  min-width: 280px;
}

a {
  user-select: none;
}


.sci{
  position: absolute;
  top:50%;
  right: 30px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sci li{
  list-style: none;
}
.sci li a{
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.6);
  filter: invert(1);
}



