:root {
  --darkblue: #0d1b2a;
  --middarkblue: #1b263b;
  --midblue: #415a77;
  --lightblue: #778da9;
  --creamywhite: #e0e1dd;
}

* {
  font-family: 'Poppins', sans-serif;
  background-color: var(--darkblue);
  color: var(creamywhite);
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--darkblue);
  color: var(--creamywhite);
}

.header-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: center;
  height: 60px;
}
.logo {
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: max-content;
  height: 60px;
}
.container-li {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-li > .list {
  list-style: none;
  margin-left: 10px;
}
.list > a {
  text-decoration: none;
}
