@import '../style.css';

.site-footer {
  background-color: var(--midblue);
  font-size: 14px;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'one one' 'two two';
  height: max-content;
}

.footer-container,
.footer-container * {
  background-color: var(--midblue);
}

.social-icons {
  justify-content: center;
  grid-area: two;
  vertical-align: middle;
}

.footer-company {
  border-right: 1px solid;
}

.footer-help,
.footer-company {
  padding: 3px 0;
  margin: 10px 0;
}

.follow-title {
  border-top: 1px solid;
}

.social-icons {
  padding: 5px;
}

@media (min-width: 669px) and (max-width: 1920px) {
  .site-footer {
    position: absolute;
    bottom: 0;
  }
}

@media (min-height: 975px) and (min-width: 1920px) {
  .site-footer {
    position: absolute;
    bottom: 0;
  }
}
