:root {
    --darkblue: #0d1b2a;
    --middarkblue: #1b263b;
    --midblue: #415a77;
    --lightblue: #778da9;
    --creamywhite: #e0e1dd;
  }

.site-footer{
    background-color: var(--midblue);
    font-size: 14px;
    text-align: center;

  }
  .footer-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    height: max-content;
    padding: 10px;
  }
  
  .footer-container,.footer-container *{
    background-color: var(--midblue);
  }
  
  .social-icons{
  justify-content: center;
  vertical-align: middle;
  }

  .footer-help,.footer-company,.social-icons{
    margin-bottom: 20px;
  }