.header-container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
.searchicon {
  width: 10px;
  height: 100%;
  display: flex;
  align-items: center;
}
.searchboxelements {
  margin: auto;
  margin-top: 20px;
  position: relative;
  width: 550px;
  height: 50px;
  border: 2px solid var(--midblue);
  padding: 0px 10px;
  border-radius: 5px;
}
.searchcontainer {
  width: 100%;
  height: 100%;
  display: flex;
  vertical-align: middle;
}
.search {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 5px;
  border-radius: 50px;
  font-size: 18px;
  font-family: 'Poppins';
  color: var(--lightblue);
  font-weight: 500;
}
.search:focus {
  outline: none;
}
