@import '/style.css';

.header-container {
  width: 100%;
}

.header-container__background,
.header-container__background * {
  background-color: black;
}

.header-container__background {
  position: fixed;
  top: 0;
  z-index: 3;
  height: max-content;
  min-width: 280px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.container-icon {
  width: 200px;
}

.container-icon,
.container-icon > .logo-href {
  display: flex;
  align-items: center;
  height: 100%;
  width: max-content;
}

.logo {
  padding: 5px;
  height: 50px;
  width: 200px;
  z-index: 2;
  display: flex;
  align-items: center;
}

.search-icon {
  width: max-content;
  display: flex;
  align-items: center;
}
.search-box-elements {
  display: flex;
  justify-content: space-between;
  width: 230px;
  height: 40px;
  border: 2px solid var(--midblue);
  padding: 0px 10px;
  border-radius: 5px;
}

.search {
  border: none;
  width: 100%;
  height: 100%;
  padding: 0px 5px;
  border-radius: 50px;
  font-size: 18px;
  font-family: 'Poppins';
  color: var(--lightblue);
  font-weight: 500;
}

.search:focus {
  outline: none;
}

.buttons {
  display: flex;
  width: 230px;
  height: 50px;
  margin-top: 10px;
  gap: 20px;
}

.login-button > .material-icon {
  background: none;
  width: max-content;
  padding-left: 6px;
}

.cart-button > .material-icon {
  background: none;
  width: max-content;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 50px;
  width: 160px;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  height: 40px;
  background-color: var(--midblue);
  outline: none;
  background-position: center;
  transition: background 0.8s;
}

.login-button:hover {
  background: var(--lightblue) radial-gradient(circle, transparent 1%, var(--lightblue) 1%) center/15000%;
}

.login-button:active {
  background-color: var(--lightblue);
  background-size: 100%;
  transition: background 0s;
}

.cart-button {
  border: none;
  height: 40px;
  width: 50px;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  background-color: var(--midblue);
  outline: none;
  background-position: center;
  transition: background 0.8s;
}

.cart-button:hover {
  background: var(--lightblue) radial-gradient(circle, transparent 1%, var(--lightblue) 1%) center/15000%;
}

.cart-button:active {
  background-color: var(--lightblue);
  background-size: 100%;
  transition: background 0s;
}

.navigation {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  margin-top: 30px;
}

.navigation,
.navigation * {
  background-color: var(--midblue);
}

.container-icon,
.container-icon > .logo-href {
  display: flex;
  align-items: center;
  height: 100%;
}

.container-li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 20px;
}

.container-li > .list {
  list-style: none;
  margin: 0 20px;
}

.list > a {
  text-decoration: none;
  color: var(--creamywhite);
}
